mat-toolbar{
    background:	#083c5d;
    color:white;
    height: 50px;
}

mat-sidenav{
    margin:16px;
    width:200px;
    border-right: none;
    background:	#083c5d;
    color:white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}

mat-expansion-panel:hover{
    background-color: #284b63;
    color:white;
}

mat-expansion-panel-header:hover {
    color: white;
}

at-panel-title:hover {
    color: white;
}

.p:hover{
    color: #ffffff;
}

.content{
    height: calc(100vh - 98px);
    margin: 16px;
    margin-left: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;

    font-size:2rem;
    color:white;

    border-radius: 10px;
}



mat-sidenav-container{
    height: calc(100vh - 65px);
}

.menu-button{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;

    mat-icon{
        margin-right:8px;

    }
}

.name{
    margin:0;
    margin-top:8px;
    font-weight: normal;
}

.designation{
    margin-top: 2px;
    font-size: 0.7rem;
    color: white;
}

mat-divider{
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255,255,255,0.5);
}

.expansion-panels {
    display: flex;
    justify-content: space-between; /* Spread the panels evenly */
    gap: 10px; /* Add spacing between panels */
    margin: 16px; /* Add margin around the panels */
  
    mat-expansion-panel {
      flex: 1; /* Ensure each panel gets equal width */
    }
  
    /* Responsive breakpoint for screens smaller than 800px */
    @media (max-width: 800px) {
      flex-direction: column; /* Stack panels vertically */
      mat-expansion-panel {
        width: 100%; /* Panels take full width in column layout */
      }
    }
  }

  .toolbar-shadow{
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    z-index: 2;
    transition: box-shadow 0.3s ease-in-out;
    height: 100px;
}

.panel.a{
    background-color: aquamarine;
    color:ref
}

  